<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="headlessEnabled" value="true"/>
    <Parameter name="webBrowser" value="ChromeRaspberryPi" />
    <Parameter name="webAppUrl" value="https://www.saucedemo.com/" />
    <Parameter name="secsTimeoutElementVisible" value="15" />
    <Parameter name="username" value="standard_user" />
    <Parameter name="password" value="secret_sauce" />
  </TestRunParameters>
</RunSettings>
